* {
    margin: 0; /* Отступы вокруг */
    padding: 0; /* Поля вокруг текста */
}
/* Gordita-regular - Gordita */
@font-face {
    font-family: 'Gordita';
    font-weight: 400;
    font-style: normal;
    src: local('Gordita  Regular'), local('Gordita--Regular'),
        url('../fonts/Gordita-Regular.woff2') format('woff2'),
        url('../fonts/Gordita-Regular.woff') format('woff'),
        url('../fonts/Gordita-Regular.ttf') format('truetype');
  }

body{
    width: 1600px;
    height: 1200px;
    background-color: #6935FD; /*linear-gradient(121.63deg, #875EFF 2.17%, rgba(83, 29, 238, 0.651031) 59.11%, rgba(94, 38, 253, 0.42) 96.81%);*/
}

#wrapper {
    background: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 100%);
    backdrop-filter: blur(24px);
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 80px;
    top: 88px;
}

.header_logo{
    position: absolute;
    width: 143px;
    height: 32px;
    left: 150px;
    top: 30px;
}

/*header {
	padding: 20px; /* Поля вокруг текста */
/*}*/

.top-menu li {
    list-style-type: none;
    display: table-cell;
    text-align: center;
}

.top-menu {
    position: absolute;
    display: table;
    width: 410px;
    height: 26px;
    left: 516px;
    top: 36px;
    /* Body / Regular */
    font-family: Gordita;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    font-feature-settings: 'ss01' on;
    /* Dark */
    color: #272727;
}

.form__sign-up {
    position: absolute;
    width: 164px;
    height: 48px;
    left: 1126px;
    top: 24px;
}

.btn__sign-up {
    width: 134px;
    height: 26px;
    /* Purple */
    border: 2px solid #6935FD;
    box-sizing: border-box;
    border-radius: 2px;
    color: #6935FD;
    /* Gradients / White */
    background: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 100%);
    backdrop-filter: blur(24px);
    /* Note: backdrop-filter has minimal browser support */
}

#heading {
	position: absolute;
    width: 636px;
    height: 70px;
    left: 402px;
    top: 220px;
}

#heading h1 {
	/*ont-family: Gordita;*/
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 70px;
    /* identical to box height, or 100% */

    text-align: center;
    letter-spacing: -0.04em;
    font-feature-settings: 'ss01' on;

    /* Dark */

    color: #272727;
}

#heading h3 {
    position: absolute;
    width: 680px;
    height: 76px;
    top: 102px;

/* S1 */

    font-family: Gordita;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 38px;
    /* or 173% */

    text-align: center;
    font-feature-settings: 'ss01' on;

    /* Dark Grey */

    color: #616161;
}

.form-search {
    position: absolute;
    width: 750px;
    height: 70px;
    top: 218px;
    /* White */
    background: #FFFFFF;
   
}

.form-search button {
    position: absolute;
    width: 175px;
    height: 46px;
    left: 563px;
    top: 10px;
    background: #6935FD;
}

.form-search input {
    position: absolute;
    width: 439px;
    height: 18px;
    top: 25px;
    left: 50px;
    /* Body Guiding */
    font-family: Gordita;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */
    letter-spacing: -0.02em;
    font-feature-settings: 'ss01' on;
   /* White */
    color: #FFFFFF;
}

.btn__Search {
    /* Body / Regular */
    font-family: Gordita;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    text-align: center;
    font-feature-settings: 'ss01' on;
    /* White */
    color: #FFFFFF;
}

.form-search img {
    position: absolute;
    left: 23px;
    top: 23px;
    /* Light Grey */
    size: 24px;
}

.bounds1 {
    position: absolute;
    width: 750px;
    height: 70px;
    left: 402px;
    top: 548px;
      /* White */
      background: #FFFFFF;
      border-radius: 4px;
}

.bounds2 {
    position: absolute;
    width: 750px;
    height: 70px;
    left: 402px;
    top: 634px;
    /* White */
    background: #FFFFFF;
    border-radius: 4px;
}

.bounds3 {
    position: absolute;
    width: 750px;
    height: 70px;
    left: 402px;
    top: 720px;
    /* White */
    background: #FFFFFF;
    border-radius: 4px;
}

.city {
    /* Calabasas, CA */
    position: absolute;
    width: 360px;
    height: 26px;
    top: 23px;
    left: 10px;
    /* Body / Regular */
    font-family: Gordita;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    font-feature-settings: 'ss01' on;
    /* Dark */
    color: #272727;
}

#union {
    position: absolute;
    width: 14px;
    height: 13px;
    top: 28px;
    left: 438px;
    /* Light Grey */
    box-sizing: border-box;
}

.cit {
    position: absolute;
    width: 229px;
    height: 19px;
    left: 461px;
    top: 27px;
    /* Meta */
    font-family: Gordita;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    text-align: right;
    letter-spacing: -0.02em;
    font-feature-settings: 'ss01' on;
    /* Dark Grey */
    color: #616161;
}

#line {
    position: absolute;
    width: 5px;
    height: 10px;
    left: 716px;
    top: 30px;
}

.footer {
    position: absolute;
    width: 1440px;
    height: 50px;
    left: 80px;
    top: 1062px;
    background: #FFFFFF;
}

.housen2020 {
    /* Housen © 2020 */
    position: absolute;
    width: 103px;
    height: 14px;
    left: 111px;
    top: 18px;
    /* Caption, Small text */
    font-family: Gordita;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    letter-spacing: -0.02em;
    font-feature-settings: 'ss01' on;
    /* Light Grey */
    color: #A8A8A8;
}
.menu li {
    list-style-type: none;
    display: table-cell;
    text-align: center;
}
.menu {
    position: absolute;
    display: table;
    width: 440px;
    height: 100px;
    left: 951px;
    top: 15px;
    /* Caption, Small text */
    font-family: Gordita;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    text-align: right;
    letter-spacing: -0.02em;
    font-feature-settings: 'ss01' on;
    /* Light Grey */
    color: #A8A8A8;
}